<div class="home-steps">
    <div class="grid grid--center">
        <div id="slides" class="owl-theme">
            <div class="grid__cell grid__cell--33-at-wide">
                <div class="grid grid--right-at-wide">
                    <div class="grid__cell grid__cell--70-at-wide">
                        <div class="home-steps__step">
                            <span class="badge"><i class="icon-mac"></i></span>
                            <span class="badge badge--dot"><i class="icon-plus"></i></span>
                            <span class="badge"><i class="icon-speakers"></i></span>
                            <h3 class="title">Create your Unicorn</h3>
                            <p class="home-steps__description">Connect your laptop to any speakers and browse unicornfm.com. Create a Unicorn, you are all set.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="grid__cell grid__cell--33-at-wide">
                <div class="grid grid--center-at-wide">
                    <div class="grid__cell grid__cell--70-at-wide">
                        <div class="home-steps__step">
                            <span class="badge"><i class="icon-iphone"></i></span>
                            <span class="badge badge--dot"><i class="icon-caret-right"></i></span>
                            <span class="badge"><i class="icon-flash"></i></span>
                            <h3 class="title">Connect to the unicorn</h3>
                            <p class="home-steps__description">With different devices such as laptop, smartphone or tablet, browse unicornfm.com and join the Unicorn you just created.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="grid__cell grid__cell--33-at-wide">
                <div class="grid">
                    <div class="grid__cell grid__cell--70-at-wide">
                        <div class="home-steps__step">
                            <span class="badge"><i class="icon-iphone"></i></span>
                            <span class="badge badge--dot"><i class="icon-caret-right"></i></span>
                            <span class="badge"><i class="icon-push"></i></span>
                            <h3 class="title">Push your music</h3>
                            <p class="home-steps__description">Time for black magic, search your favorite track or artist and click "push", your track is played on the Unicorn. Enjoy.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
