<h1>{{ model.server.name }}</h1>

{{input type="text" value=search enter="searchSong" class="input input--pick"}}

{{#if isSearching}}
    {{helper-loading-text text="Loading the search results"}}
{{/if}}

<div class="songs">
    {{#each songs as |song|}}
        {{join-song-item song=song onPushSong=onPushSong}}
    {{/each}}
</div>
