<div class="layout layout--light">
    <div class="join">

        {{#if hasCurrentSong}}
            <div class="join__connect">
                <span class="join__connect-text">Currently playing <strong>{{ currentSong.title }}</strong></span>
            </div>
        {{/if}}

        <div class="grid grid--center">
            <div class="grid__cell grid__cell--50">
                <div class="panel panel--join-connected">
                    <div class="panel__body">
                        <h3 class="title title--connected">Connected</h3>
                        <p>to unicorn {{model.server.name}}</p>
                    </div>
                    <div class="panel__icon"><i class="icon-circle"></i></div>
                </div>

                <div class="panel panel--search-song">
                    <div class="panel__body">
                        <h2 class="title title--search-song">Search a song to push to the unicorn</h2>

                        {{join-search-tracks onPushSong=(action "onPushSong")}}
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
