/*------------------------------------*\
    #BADGE
\*------------------------------------*/

$badge-size:        60px !default;


.badge {
    display: inline-block;
    position: relative;
    width: $badge-size;
    height: $badge-size;
    color: $blue;
    background: $blue-light;
    border-radius: 50%;

    i {
        @include center();
        font-size: $font-icon-size + 5px;
    }
}

.badge--dot {
    width: $badge-size / 2;
    color: $gray;
    background: none;

    i {
        font-size: $font-icon-size - 10px;
    }
}
