/*------------------------------------*\
    #BUTTONS
\*------------------------------------*/

/**
 * Variables
 */

$button-border-radius:                  5px !default;
$button-bg-color:                       $black !default;
$button-font-size-base:                 $font-size !default;
$button-color:                          $white !default;
$button-darken-percentage-hover:        5% !default;

$button-danger-bg-color:                $red !default;
$button-success-bg-color:               $green !default;

$button-home-hero-create-color:         $pink-dark !default;
$button-home-hero-create-bg-color:      $white !default;


/**
 * Component
 */
.button {
    @extend %light-shadow-button;
    display: inline-block;
    position: relative;
    margin: 0 ($horizontal-margin / 2);
    padding: ($vertical-margin / 2) $horizontal-margin;
    color: $button-color;
    font-size: $button-font-size-base;
    font-weight: 600;
    text-transform: uppercase;
    text-decoration: none;
    background-color: $button-bg-color;
    border: 0;
    border-radius: $button-border-radius;
    cursor: pointer;
    user-select: none;
    touch-action: manipulation;
    transition: background-color 0.4s;

    &:hover,
    &:focus,
    &:active {
        background-color: darken($button-bg-color, $button-darken-percentage-hover);
        text-decoration: none;
        outline: 0;
    }
}

.button--disabled {
    cursor: not-allowed;
    opacity: 0.8;
}

.button--danger {
    background-color: $button-danger-bg-color;

    &:hover,
    &:focus,
    &:active {
        background-color: darken($button-danger-bg-color, $button-darken-percentage-hover);
        text-decoration: none;
        outline: 0;
    }
}

.button--success {
    background-color: $button-success-bg-color;

    &:hover,
    &:focus,
    &:active {
        background-color: darken($button-success-bg-color, $button-darken-percentage-hover);
        text-decoration: none;
        outline: 0;
    }
}

.button--home-hero-create {
    width: 90%;
    margin: 0 auto;
    margin-bottom: $vertical-margin;

    @include respond-to('small') {
        width: auto;
        margin: 0 ($horizontal-margin / 2);
    }


    @include respond-to('medium') {
        width: 90%;
        margin: 0 auto;
        margin-bottom: $vertical-margin;
    }

    @include respond-to('x-wide') {
        width: auto;
        margin: 0 ($horizontal-margin / 2);
    }
}

.button--home-hero-join {
    width: 90%;
    margin: 0 auto;
    color: $button-home-hero-create-color;
    background: $button-home-hero-create-bg-color;

    &:hover,
    &:focus,
    &:active {
        background-color: darken($button-home-hero-create-bg-color, $button-darken-percentage-hover);
    }

    @include respond-to('small') {
        width: auto;
        margin: 0 ($horizontal-margin / 2);
    }

    @include respond-to('medium') {
        width: 90%;
        margin: 0 auto;
    }

    @include respond-to('x-wide') {
        width: auto;
        margin: 0 ($horizontal-margin / 2);
    }
}
