/*------------------------------------*\
    #BUTTONS
\*------------------------------------*/

/**
 * Variables
 */

$button-border-radius:                  5px !default;
$button-darken-percentage-hover:        5% !default;

/**
 * Component
 */
.button {
    @extend %light-shadow-button;
    display: inline-block;
    position: relative;
    margin: 0 ($horizontal-margin / 2);
    padding: ($vertical-margin / 2) $horizontal-margin;
    color: $white;
    font-size: $font-size;
    font-weight: 600;
    text-transform: uppercase;
    text-decoration: none;
    background-color: $black;
    border: 0;
    border-radius: $button-border-radius;
    cursor: pointer;
    user-select: none;
    touch-action: manipulation;
    transition: background-color 0.4s;

    &:hover,
    &:focus,
    &:active {
        background-color: darken($black, $button-darken-percentage-hover);
        text-decoration: none;
        outline: 0;
    }
}

.button--disabled {
    cursor: not-allowed;
    opacity: 0.8;
}

.button--danger {
    background-color: $red;

    &:hover,
    &:focus,
    &:active {
        background-color: darken($red, $button-darken-percentage-hover);
        text-decoration: none;
        outline: 0;
    }
}

.button--success,
%button--success {
    background-color: $green;

    &:hover,
    &:focus,
    &:active {
        background-color: darken($green, $button-darken-percentage-hover);
        text-decoration: none;
        outline: 0;
    }
}

.button--home-hero-create {
    width: 90%;
    margin: 0 auto;
    margin-bottom: $vertical-margin;
    background: $pink-light;

    &:hover,
    &:focus,
    &:active {
        background-color: darken($pink-light, $button-darken-percentage-hover);
    }

    @include respond-to('small') {
        width: auto;
        margin: 0 ($horizontal-margin / 2);
    }

    @include respond-to('medium') {
        width: 90%;
        margin: 0 auto;
        margin-bottom: $vertical-margin;
        background: $black;

        &:hover,
        &:focus,
        &:active {
            background-color: darken($black, $button-darken-percentage-hover);
        }
    }

    @include respond-to('x-wide') {
        width: auto;
        margin: 0 ($horizontal-margin / 2);
    }
}

.button--home-hero-join {
    width: 90%;
    margin: 0 auto;
    background: $white;
    color: $black;

    &:hover,
    &:focus,
    &:active {
        background-color: darken($white, $button-darken-percentage-hover);
    }

    @include respond-to('small') {
        width: auto;
        margin: 0 ($horizontal-margin / 2);
    }

    @include respond-to('medium') {
        width: 90%;
        margin: 0 auto;
        color: $pink-dark;
    }

    @include respond-to('x-wide') {
        width: auto;
        margin: 0 ($horizontal-margin / 2);
    }
}

.button--no-margin-horizontal {
    margin-left: 0;
    margin-right: 0;
}

.button--pick {
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    border-radius: 0;
    padding: $vertical-margin $horizontal-margin;

    @include respond-to('wide') {
        position: relative;
        padding: ($vertical-margin / 2) $horizontal-margin;
        width: auto;
        border-radius: $button-border-radius;
    }
}

.button--push-song {
    margin-left: 0;
    margin-right: 0;
}
