/*------------------------------------*\
    #HOME-FAQ
\*------------------------------------*/

/**
 * 1. Reset padding-left grid__cell avalanche
 */

.home-faq {
    padding: $vertical-margin 0;

    @include respond-to('wide') {
        background: $white;
    }
}

    .home-faq__question {
        position: relative;
        margin: 0 auto;
        margin-left: -12px; /* [1] */
        padding-top: 2px;
        text-align: left;
        background: $white;
        border-bottom: 2px solid $gray-light;
        border-radius: 5px;

        @include respond-to('wide') {
            margin-left: 0;
            border-bottom: 0;
        }
    }

    .home-faq__question-label {
        margin-top: 10px;
        margin-bottom: 20px;
        padding: 0 25px;

        .title {
            margin: 0;
            padding: 0;
            font-size: $font-size * 1.2;
        }

        .icon {
            position: absolute;
            top: $spacing-unit * 4;
            right: $horizontal-margin;
            color: #D5D7DB;
            font-size: $font-size * 1.5;

            @include respond-to('wide') {
                display: none;
            }
        }

        .icon-arrow-up {
            color: $blue;
        }
    }

    .home-faq__question--opened {
        background: lighten($blue-light, 3%);
        border-bottom: 2px solid $blue-light;
    }

    .home-faq__description {
        margin-top: $vertical-margin / 2;
        margin-bottom: $vertical-margin;
        padding: 0 25px;
    }

    .home-faq__sub {
        padding: 0 25px;
    }
