/*------------------------------------*\
    #HOME-STATS
\*------------------------------------*/

$home-stats-bg-color: $gray-light !default;

.home-stats {
    position: relative;
    background: $home-stats-bg-color;
    text-align: center;
    padding: 80px 0;
    margin-bottom: 80px;
}

    .home-stats__description {
        text-align: center;
        text-transform: uppercase;
        color: $gray;
    }
