/*------------------------------------*\
    #HOME-STEPS
\*------------------------------------*/

.home-steps {
    margin: ($vertical-margin * 3.5) 0;

    @include respond-to('wide') {
        margin-right: auto;
        margin-left: auto;
        width: 90%;
    }
}

    .home-steps__step {
        margin: 0 auto;
        width: 90%;
        text-align: center;

        @include respond-to('wide') {
            width: 80%;
            text-align: left;
        }
    }

    .home-steps__description {
        margin-bottom: $vertical-margin * 1.5;
        color: $gray;
        font-weight: 300;

        p {
            margin: $vertical-margin;
        }
    }
