/*------------------------------------*\
    #HOME-FOOTER
\*------------------------------------*/

.home-footer {
    position: relative;
    margin-top: $vertical-margin * 5;
    height: 80px;
    color: $white;
    text-align: center;
    background: $gray-light;
}

    .home-footer__artwork {
        @include center('horizontal');
        position: absolute;
        top: -60px;
        text-align: center;

        img {
            width: 150px;
        }
    }
