/*------------------------------------*\
    #HOME-HERO
\*------------------------------------*/

$home-hero-height: 570px !default;

$home-hero-details-bg-color-light:  $pink-light !default;
$home-hero-details-bg-color-dark:   $pink-dark !default;

$home-hero-punchline-color:         $white !default;

.home-hero {}

    .home-hero__details {
        position: relative;
        height: $home-hero-height;
        text-align: center;
        background: $home-hero-details-bg-color-dark;
        background-image: linear-gradient(342deg, $home-hero-details-bg-color-light, $home-hero-details-bg-color-dark 90%);
    }

        .home-hero__container {
            @include center('both');
            width: 80%;
        }

        .home-hero__punchline {
            @extend %light-shadow-text;
            margin-bottom: $vertical-margin * 1.5;
            color: $home-hero-punchline-color;
            font-size: $font-size + 3px;
            letter-spacing: $font-spacing;
        }

    .home-hero__image {
        height: $home-hero-height;
        background-size: cover;
        background-image: url('/cover-home.jpg');
        background-repeat: no-repeat;
        background-position: center center;
    }
