/*------------------------------------*\
    #HOME-HERO
\*------------------------------------*/

$home-hero-height: 570px !default;

.home-hero {}

    .home-hero__details {
        position: relative;
        height: $home-hero-height;
        text-align: center;
        background-size: cover;
        background-image: url($path-cover-home);
        background-position: center center;

        @include respond-to('medium') {
            background: $pink-dark;
            background-image: linear-gradient(342deg, $pink-light, $pink-dark 90%);
        }
    }

        .home-hero__overlay {
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            background: $black;
            opacity: 0.6;

            @include respond-to('medium') {
                display: none;
            }
        }

        .home-hero__container {
            @include center('both');
            width: 80%;
        }

        .home-hero__punchline {
            @extend %light-shadow-text;
            margin-bottom: $vertical-margin * 1.5;
            color: $white;
            font-size: $font-size + 3px;
            letter-spacing: $font-spacing;
        }

    .home-hero__image {
        display: none;
        height: $home-hero-height;
        background-size: cover;
        background-image: url($path-cover-home);
        background-repeat: no-repeat;
        background-position: center center;

        @include respond-to('medium') {
            display: block;
        }
    }
