/*------------------------------------*\
    #INPUT
\*------------------------------------*/


.input {}

.input--unicorn-to-join {
    width: 100%;
    border: 0;
    border-radius: 5px;
    font-size: $font-size * 3;
    padding: $vertical-margin;
    outline: 0;
}
