/*------------------------------------*\
    #LOGO
\*------------------------------------*/


.logo {}

.logo--small {
    img {
        width: 100px;
    }
}

.logo--medium {
    img {
        width: 200px;
    }
}

.logo--center {
    text-align: center;
}

.logo--breath-top {
    margin-top: $vertical-margin;
}

.logo--breath-bottom {
    margin-bottom: $vertical-margin * 2;
}


.logo--pick {
    margin-top: $vertical-margin * 3;
    text-align: center;

    img {
        width: 200px;
    }
}
