/*------------------------------------*\
    #LOGO
\*------------------------------------*/

$logo-small-width: 100px;

.logo {}

.logo--small {
    img {
        width: $logo-small-width;
    }
}

.logo--breath-top {
    margin-top: $vertical-margin;
}

.logo--breath-bottom {
    margin-bottom: $vertical-margin * 2;
}
