/*------------------------------------*\
    #PANEL
\*------------------------------------*/

.panel {
    @extend %light-shadow-box;
    position: relative;
    background: $white;
    border-radius: 4px;
}

    .panel__body {
        padding: $vertical-margin * 2;
    }

.panel--breath-bottom,
%panel--breath-bottom {
    margin-bottom: $vertical-margin;
}

.panel--live {
    @extend %panel--breath-bottom;
    padding-left: $horizontal-margin * 4;

    .panel__icon {
        @include center('vertical');
        left: $horizontal-margin * 2;
        color: $green;
        font-size: $font-icon-size;
    }
}

.panel--first-setup {

    .panel__setup {
        margin-bottom: $vertical-margin;
    }

    .panel__content {
        letter-spacing: 0.3px;
    }

    .panel__content:last-of-type {
        margin-bottom: 0;
    }

    .panel__completed {
        display: inline-block;
        margin: ($vertical-margin / 1.5) 0;
        width: 140px;
        color: $white;
        font-size: $font-size - 3px;
        font-weight: 300;
        text-align: center;
        text-transform: uppercase;
        border-radius: 5px;
    }

    .panel__completed--yes {
        background: $green;
    }

    .panel__completed--no {
        background: $red;
    }

}

.panel--huge-input {
    margin-top: $vertical-margin * 5;

    .panel__body {
        padding: 0;
    }

}

.panel--join-connected {
    @extend %panel--breath-bottom;
    margin-top: $vertical-margin * 3;
    padding-left: $horizontal-margin * 4;

    .panel__icon {
        @include center('vertical');
        left: $horizontal-margin * 2;
        color: $green;
        font-size: $font-icon-size;
    }
}

.panel--search-song {
    margin-bottom: $vertical-margin * 3;
}
