/*------------------------------------*\
    #PANEL
\*------------------------------------*/


.panel {
    position: relative;
    background: $white;
    box-shadow: 0 15px 35px rgba(50, 50, 93, 0.1), 0 5px 15px rgba(0, 0, 0, 0.07);
    border-radius: 4px;
}

    .panel__body {
        padding: 36px;
    }

.panel--breath-bottom,
%panel--breath-bottom {
    margin-bottom: $vertical-margin;
}

.panel--live {
    @extend %panel--breath-bottom;
    padding-left: $horizontal-margin * 4;

    .panel__icon {
        @include center('vertical');
        color: $green;
        font-size: $font-icon-size * 1;
        left: $horizontal-margin * 2;
    }
}

.panel--first-setup {

    .panel__setup {
        margin-bottom: $vertical-margin;
    }

    .panel__content {
        letter-spacing: 0.3px;
    }

    .panel__content:last-of-type {
        margin-bottom: 0;
    }

    .panel__completed {
        display: inline-block;
        color: $white;
        border-radius: 5px;
        font-weight: 300;
        width: 140px;
        text-align: center;
        text-transform: uppercase;
        font-size: $font-size - 3px;
        margin: ($vertical-margin / 1.5) 0;
    }

    .panel__completed--yes {
        background: $green;
    }

    .panel__completed--no {
        background: #EE5F5B;
    }

}
