/*------------------------------------*\
    #PANEL
\*------------------------------------*/

$panel-border-radius: 4px !default;
$panel-bg-color: $white !default;

// Live
$panel-live-icon-color: $green !default;

// First setup
$panel-first-setup-completed-color: $white !default;
$panel-first-setup-completed-border-radius: 5px !default;
$panel-first-setup-completed-width: 140px !default;
$panel-first-setup-completed-yes-color: $green !default;
$panel-first-setup-completed-no-color: $red !default;

.panel {
    @extend %light-shadow-box;
    position: relative;
    background: $panel-bg-color;
    border-radius: $panel-border-radius;
}

    .panel__body {
        padding: $vertical-margin * 2;
    }

.panel--breath-bottom,
%panel--breath-bottom {
    margin-bottom: $vertical-margin;
}

.panel--live {
    @extend %panel--breath-bottom;
    padding-left: $horizontal-margin * 4;

    .panel__icon {
        @include center('vertical');
        left: $horizontal-margin * 2;
        color: $panel-live-icon-color;
        font-size: $font-icon-size;
    }
}

.panel--first-setup {

    .panel__setup {
        margin-bottom: $vertical-margin;
    }

    .panel__content {
        letter-spacing: 0.3px;
    }

    .panel__content:last-of-type {
        margin-bottom: 0;
    }

    .panel__completed {
        display: inline-block;
        margin: ($vertical-margin / 1.5) 0;
        width: $panel-first-setup-completed-width;
        color: $panel-first-setup-completed-color;
        font-size: $font-size - 3px;
        font-weight: 300;
        text-align: center;
        text-transform: uppercase;
        border-radius: $panel-first-setup-completed-border-radius;
    }

    .panel__completed--yes {
        background: $panel-first-setup-completed-yes-color;
    }

    .panel__completed--no {
        background: $panel-first-setup-completed-no-color;
    }

}
