.pick {}

    .pick__search {
        margin-top: $vertical-margin;
        text-align: center;
    }

    .pick__search-exists {
        margin-top: $vertical-margin / 2;
        text-align: left;
    }
