/*------------------------------------*\
    #COLORS
\*------------------------------------*/

/**
 * Color Variables
 *
 * These variables should always be aliased as Functional Variables, either at
 * the bottom of this file, or at the top of the Component SCSS that they
 * belong to. This method helps aid the quick reskinning of Components.
 */

$white:         #ffffff !default;
$black:         #292e31 !default;
$orange:        #ff5d19 !default;
$blue-light:    #e8f5f8 !default;
$blue:          #449bb5 !default;
$gray:          #6f7c82 !default;
$gray-light:    #f5f7f9 !default;
$pink-light:    #d8335b !default;
$pink-dark:     #953163 !default;
$green:         #2CC990 !default;
$red:           #ee5f5b !default;
$green:         #2CC990 !default;
