/*------------------------------------*\
    #COLORS
\*------------------------------------*/

/**
 * Color Variables
 *
 * These variables should always be aliased as Functional Variables, either at
 * the bottom of this file, or at the top of the Component SCSS that they
 * belong to. This method helps aid the quick reskinning of Components.
 */

$school-bus-yellow: #ffa400 !default;
$white: #ffffff !default;
$black: #292e31 !default;
$gray: #6f7c82 !default;
