/*------------------------------------*\
    #FONTS
\*------------------------------------*/

/**
 * Font stacks
 */
$font-family:           'Open Sans', sans-serif !default;


/**
 * Text sizes
 */

$font-size:              14px !default;
$font-spacing:           1px !default;

/**
 * Icon sizes
 */
$font-icon-size:         30px !default;
