<div class="layout layout--light">

    <div class="panel">
        Your brand new unicorn bored-snake-343 is live!
    </div>

    <h1>Finish Setup</h1>

    1. With different devices such as laptop, smartphone or tablet, browse unicornfm.com and join the Unicorn you just created. Remember, the name of your unicorn is "bored-snake-343".

    <br/><br/>

    2. Time for black magic, search your favorite track or artist and click "push"

    <div class="panel">
        <div class="panel__body">
        </div>
    </div>
</div>
