<div class="home-hero">
    <div class="grid grid--flush">
        <div class="grid__cell grid__cell--40-at-medium">
            <div class="home-hero__details">
                <div class="home-hero__overlay"></div>
                <div class="home-hero__container">
                    <h2 class="title">UnicornFM</h2>
                    <p class="home-hero__punchline">Helps you to create instant collaborative playlists for your party, work, whatever.</p>
                    {{#link-to "unicorn-create" class="button button--home-hero-create"}}Create a Unicorn{{/link-to}}
                    {{#link-to "unicorn-pick" class="button button--home-hero-join"}}Join a Unicorn{{/link-to}}
                </div>
            </div>
        </div>

        <div class="grid__cell grid__cell--60-at-medium">
            <div class="home-hero__image"></div>
        </div>
    </div>
</div>

{{#index-steps media=media}}{{/index-steps}}

<div class="home-stats">
    <div class="grid grid--center">
        <div class="grid__cell grid__cell--80">
            <div class="grid">
                <div class="grid__cell grid__cell--33-at-medium">
                    <h3 class="title">31,939</h3>
                    <p class="home-stats__description">Unicorns created</p>
                </div>
                <div class="grid__cell grid__cell--33-at-medium">
                    <h3 class="title">100,939,000</h3>
                    <p class="home-stats__description">Songs Pushed</p>
                </div>
                <div class="grid__cell grid__cell--33-at-medium">
                    <div class="text text--center">
                        {{#link-to "unicorn-create" class="button"}}Create a Unicorn{{/link-to}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="home-faq">
    <div class="grid--center">
        <div class="grid__cell grid__cell--80--at-wide">
            <div class="grid grid--center">
                <div class="grid__cell grid__cell--40-at-wide" >
                    {{#accordion-content title="Why should I use it"}}
                        <strong class="home-faq__sub">Hosting a party?</strong>
                        <p class="home-faq__description">Spin a new Unicorn, let your friends join it, boom, everyone can push their favorite tracks.</p>

                        <strong class="home-faq__sub">Bored at the office?</strong>
                        <p class="home-faq__description">Create a Unicorn, let your coworkers push some tracks, you just created a collaborative playlist.</p>

                        <strong class="home-faq__sub">Is your friend in love with music ?</strong>
                        <p class="home-faq__description"> Make a new Unicorn, let them push some songs, it's time to discover new artists.</p>
                    {{/accordion-content}}
                </div>
                <div class="grid__cell grid__cell--40-at-wide">

                    {{#accordion-content title="Where do the tracks come from?"}}
                        <p class="home-faq__description">Both the player of the Unicorn and the search system use youtube, you should find most of the music you fancy.</p>
                    {{/accordion-content}}

                    {{#accordion-content title="Why can't I play a music stored in my device?"}}
                        <p class="home-faq__description">We designed UnicornFM to be as simple as possible, we don't want you to download an app to use it.</p>
                    {{/accordion-content}}

                    {{#accordion-content title="Why can't I create an Unicorn with a phone/tablet?"}}
                        <p class="home-faq__description">The browsers on these devices block our autoplay feature, we can't do anything at the moment to unlock the limitation.</p>
                    {{/accordion-content}}
                </div>
            </div>
        </div>
    </div>
</div>

<div class="home-footer">
    <div class="home-footer__artwork">
        <img src="/unicorn.png" />
    </div>
</div>
