<div class="home-hero">
    <div class="grid grid--flush">
        <div class="grid__cell grid__cell--40-at-medium">
            <div class="home-hero__details">
                <div class="home-hero__container">
                    <h2 class="home-hero__title">UnicornFM</h2>
                    <p class="home-hero__punchline">Helps you to create instant collaborative playlists for your party, work, whatever.</p>
                    <a class="button button--home-hero" href="#"><i class="icon-data"></i> Create a Unicorn</a>
                    <a class="button button--home-hero" href="#">Join a Unicorn</a>
                </div>
            </div>
        </div>

        <div class="grid__cell grid__cell--60-at-medium">
            <div class="home-hero__image">
            </div>
        </div>
    </div>
</div>

<div class="home-steps">
            <div class="grid grid--center">
                <div class="grid__cell grid__cell--33">
                    <div class="grid grid--right">
                        <div class="grid__cell grid__cell--70">
                            <div class="home-steps__step">
                                <span class="home-steps__badge"><i class="icon-mac"></i></span>
                                <span class="home-steps__badge home-steps__badge--small"><i class="icon-plus"></i></span>
                                <span class="home-steps__badge"><i class="icon-speakers"></i></span>
                                <h3 class="home-steps__title">Create your Unicorn</h3>
                                <p>Connect your laptop to any speakers and browse unicornfm.com. Create a Unicorn, you are all set.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="grid__cell grid__cell--33">
                    <div class="grid grid--center">
                        <div class="grid__cell grid__cell--70">
                            <div class="home-steps__step">
                                <span class="home-steps__badge"><i class="icon-iphone"></i></span>
                                <span class="home-steps__badge home-steps__badge--small"><i class="icon-caret-right"></i></span>
                                <span class="home-steps__badge"><i class="icon-flash"></i></span>
                                <h3 class="home-steps__title">Connect to the unicorn</h3>
                                <p>With different devices such as laptop, smartphone or tablet, browse unicornfm.com and join the Unicorn you just created.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="grid__cell grid__cell--33">
                    <div class="grid grid--left">
                        <div class="grid__cell grid__cell--70">
                            <div class="home-steps__step">
                                <span class="home-steps__badge"><i class="icon-iphone"></i></span>
                                <span class="home-steps__badge home-steps__badge--small"><i class="icon-caret-right"></i></span>
                                <span class="home-steps__badge"><i class="icon-push"></i></span>
                                <h3 class="home-steps__title">Push your music</h3>
                                <p>Time for black magic, search your favorite track or artist and click "push", your track is played on the Unicorn. Enjoy.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
</div>

<!--
<div class="home-steps">
    <div class="grid">
        <div class="grid__cell grid__cell--33-at-medium">
            <h2 class="home-steps__title">How does it work?</h2>
            <div class="home-steps__description">
                <p>Do you remember this guy at your party always <strong>around your computer</strong> to put his favorite music on youtube ?</p>
                <p>Felt a bit worried for your laptop ?</p>
                <p>What if everyone in your party could push some dope sounds to your computer with theirs phone and stop to mess with it at all. Well, it's what we do, just <strong>spin a new unicorn</strong>, let your friends join it to let them push the songs they like.</p>
                <p>That's it, no bullshit app to install, it takes only 10 seconds.</p>
            </div>

            <a class="button button--marketing">Create an unicorn</a>
        </div>
    </div>
</div>
-->

<div class="home-stats">
    <div class="grid grid--center">
        <div class="grid__cell grid__cell--80">
            <div class="grid">
                <div class="grid__cell grid__cell--33-at-medium">
                    <h3 class="home-stats__title">31,939</h3>
                    <p class="home-stats__description">Unicorns created</p>
                </div>
                <div class="grid__cell grid__cell--33-at-medium">
                    <h3 class="home-stats__title">100,939,000</h3>
                    <p class="home-stats__description">Songs Pushed</p>
                </div>
                <div class="grid__cell grid__cell--33-at-medium" style="text-align: center">
                    <a class="button button--marketing">Create your unicorn</a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="home-faq">
    <div class="grid--center">
        <div class="grid__cell grid__cell--80">
            <div class="grid grid--center">
                <div class="grid__cell grid__cell--40">
                    <h3 class="title">Why should I use it?</h3>
                    <strong>Hosting a party?</strong>
                    <p>Spin a new Unicorn, let your friends join it, boom, everyone can push their favorite tracks.</p>

                    <br/>
                    <strong>Bored at the office?</strong>
                    <p>Create a Unicorn, let your coworkers push some tracks, you just created a collaborative playlist.</p>

                    <br/>
                    <strong>Is your friend in love with music ?</strong>
                    <p> Make a new Unicorn, let them push some songs, it's time to discover new artists.</p>
                </div>
                <div class="grid__cell grid__cell--10">
                </div>
                <div class="grid__cell grid__cell--40">
                    <h3 class="title">Where do the tracks come from?</h3>
                    <p>Both the player of the Unicorn and the search system use youtube, you should find most of the music you fancy.</p>

                    <br/>

                    <h3 class="title">Why can't I play a music stored in my device?</h3>
                    <p>We designed UnicornFM to be as simple as possible, we don't want you to download an app to use it.</p>

                    <br/>
                </div>
            </div>
        </div>
    </div>
</div>



<div class="footer">
    <div class="home-steps__artwork">
        <img src="/unicorn.png" />
    </div>
</div>
