<div class="home-hero">
    <div class="grid grid--flush">
        <div class="grid__cell grid__cell--40-at-medium">
            <div class="home-hero__details">
                <div class="home-hero__container">
                    <h2 class="home-hero__title">UnicornFM</h2>
                    <p class="home-hero__punchline">Helps you to create instant collaborative playlists for your party, work, whatever.</p>
                    <a class="button button--home-hero" href="#"><i class="icon-data"></i> Create an unicorn</a>
                    <a class="button button--home-hero" href="#">Join an unicorn</a>
                </div>
            </div>
        </div>

        <div class="grid__cell grid__cell--60-at-medium">
            <div class="home-hero__image">
            </div>
        </div>
    </div>
</div>


<div class="home-steps">
    <div class="grid">
        <div class="grid__cell grid__cell--33-at-medium">
            <h2 class="home-steps__title">What's unicorn?</h2>
            <div class="home-steps__description">
                <p>Do you remember this guy at your party always <strong>around your computer</strong> to put his favorite music on youtube ?</p>
                <p>Felt a bit worried for your laptop ?</p>
                <p>What if everyone in your party could push some dope sounds to your computer with theirs phone and stop to mess with it at all. Well, it's what we do, just <strong>spin a new unicorn</strong>, let your friends join it to let them push the songs they like.</p>
                <p>That's it, no bullshit app to install, it takes only 10 seconds.</p>
            </div>

            <a class="button button--marketing">Create an unicorn</a>
            <!-- <img class="home-steps__artwork" src="/unicorn.png" /> -->
        </div>
    </div>
</div>

<div class="home-stats">
    <div class="grid grid--center">
        <div class="grid__cell grid__cell--66">
            <div class="grid">
                <div class="grid__cell grid__cell--50-at-medium">
                    <h3 class="home-stats__title">31,939</h3>
                    <p class="home-stats__description">Unicorns created</p>
                </div>
                <div class="grid__cell grid__cell--50-at-medium">
                    <h3 class="home-stats__title">100,939,000</h3>
                    <p class="home-stats__description">Songs Pushed</p>
                </div>
            </div>
        </div>
    </div>
</div>
