<div class="layout">
    <div class="pick">
        <div class="grid grid--center">
            <div class="grid__cell grid__cell--60-at-wide">
                <div class="logo logo--pick">
                    {{#link-to "index"}}
                        <img src="/unicorn.png" />
                    {{/link-to}}
                </div>
                <div class="pick__search">
                    <h1 class="title title--pick">Type the name of the <strong>unicorn</strong><br/> you want to join</h1>

                    {{#input-autofocus target="#search"}}
                        {{input value=unicornSearch id="search" class="input input--pick" autocomplete="off"}}
                    {{/input-autofocus}}

                    <div class="pick__search-exists">
                        {{#if unicornExists}}
                            {{#link-to "unicorn-join" unicorn.name class="button button--pick button--success button--no-margin-horizontal"}}
                                The unicorn {{should-show-unicorn-search media unicornSearchClean}} exists!
                            {{/link-to}}
                        {{else}}
                            <a href="#" class="button button--pick button--danger button--disabled button--no-margin-horizontal">The unicorn {{should-show-unicorn-search media unicornSearchClean}} doesn't exist!</a>
                        {{/if}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
